{% extends 'base.html' %}
{% load static %}
{% block title %}Data Mavericks{% endblock %}
{% block content %}

<!-- Content Section -->
<div class="container">
    <div class="row">
        <div class="content">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.username }}</h1>
                <p>Get started by joining a team, and then checking out our problem statements</p>
                {% if user.teams.all %}
                    <a href="{% url 'problem_statement' %}" class="btn btn-custom">Check out some problem statements</a>
                {% else %}
                    <a href="{% url 'team_management' %}" class="btn btn-custom">Create or Join a Team</a>
                {% endif %}
            {% else %}
                <h1>Welcome to the Data Mavericks</h1>
                <p>Join the most exciting coding event and collaborate with teams to solve real-world problems.</p>
                <a href="{% url 'login' %}" class="btn btn-custom">Login to Get Started</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/hackathon.png' %}" alt="Hackathon Image" class="image">
        </div>
    </div>
</div>

{% endblock %}



