{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="problem-container">
    <div class="problem">
        <img src="https://hotpot.ai/images/site/ai/restorer/teaser_400.jpg" alt="Problem Image 1">
        <h3>Image enhancement with AI</h3>
        <p>Develop an AI model that can perform seamless image enhancements with focus on clarity and de-noising.</p>
    </div>
    <div class="problem">
        <img src="https://t3.ftcdn.net/jpg/05/71/28/02/360_F_571280209_dybWpGPhQ8wZSLnKLUdWmmt738W0i075.jpg" alt="Problem Image 2">
        <h3>Academic chatbot</h3>
        <p>Develop a chatbot capable of answering any academic query, keep in mind that it explains a potential solutution instead of handing it over.</p>
    </div>
    <div class="problem">
        <img src="https://media.gettyimages.com/id/1467639088/photo/artificial-intelligence-robot-hand-and-human-hand.jpg?s=612x612&w=0&k=20&c=0mJUwtVUW8fuhAKKKJBsQhY6isrQmRcsTLMQfn04t_E=" alt="Problem Image 3">
        <h3>AI companion for daily tasks</h3>
        <p>Develop an AI model to automate or manage an average person's daily tasks. Said task could range from ingredients dispenser as per a recipe or a home lighting management.</p>
    </div>
    <div class="problem">
        <img src="https://slp-statics.astockcdn.net/static_assets/staging/24summer/generate/storytelling/Card2a_Storytelling.jpg?width=580" alt="Problem Image 4">
        <h3>AI image generator</h3>
        <p>Develop an AI model to generate images as per the user's requests as accurately as possible.</p>
    </div>
    <div class="problem">
        <img src="https://media.istockphoto.com/id/1479180033/photo/digital-eye-ai-artificial-intelligence-digital-concept.jpg?s=612x612&w=0&k=20&c=5s1tl4bpMIVEv4g7Fckl2i26mfs2Rx-LzCtdaqumsz8=" alt="Problem Image 5">
        <h3>Instant object recognition with AI</h3>
        <p>Develop an AI model capable to recognizing almost every object existing in the world.</p>
    </div>
    <div class="problem">
        <img src="https://media.istockphoto.com/id/1364859722/photo/artificial-intelligence-concept.jpg?s=612x612&w=0&k=20&c=KJsIp0XUPLlD9xjmjIg3Y5_Ohx9g373QYkWBeUt68Pk=" alt="Problem Image 6">
        <h3>AI for any task</h3>
        <p>Develop an AI model to tackle tasks people may think do not require any AI. This is an experimental topic and innovators will be greatly rewarded.</p>
    </div>
    <div class="problem">
        <img src="https://media.gettyimages.com/id/1356382582/photo/ai-robot-face-and-programming-code.jpg?s=612x612&w=0&k=20&c=SyTRg3TM0tMb22ugr1cr1MV9_s_J4pmJmf4Te4ZftRs=" alt="Problem Image 7">
        <h3>AI in cybersecurity</h3>
        <p>Develop an AI model that ensures security of your device, with a proper alerts system and an actions suggestion list </p>
    </div>
</div>

{% endblock %}


