{% extends 'base.html' %}
{% load static %}
{% block title %}Data Mavericks{% endblock %}
{% block content %}
<div class="formblock mt-5">

    <div class="content">
        <h1>Submit Your Solution</h1>
    </div>

    {% if alert %}
        <div class="alert alert-{{ alert.type }}">
            {{ alert.message }}
        </div>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'submit_solution' %}">
        {% csrf_token %}
        
        <label for="team" >Team:</label>
        <select name="team" id="team" required>
            {% for team in teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        
        <label for="problem">Problem:</label>
        <select name="problem" id="problem" required>
            {% for problem in problems %}
                <option value="{{ problem.id }}">{{ problem.name }}</option>
            {% endfor %}
        </select>
        
        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" required>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
