{% extends 'base.html' %}
{% load static %}
{% block title %}Data Mavericks{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
<body>
    <div class="formblock mt-5">
    {% if alert %}
        <div class="alert alert-{{ alert.type }}">
            {{ alert.message }}
        </div>
    {% endif %}
    <div class="content"><h1>Team Management</h1></div> 
   
    <!-- Create a New Team -->
    <h2>Create a Team</h2>
    <div >
        <form method="POST" action="{% url 'create_team' %}" >
            {% csrf_token %}
            <label for="team_name" class="form-content">Team Name:</label>
            <input type="text" name="team_name" id="team_name" required>
            <button type="submit" class="btn btn-primary">Create Team</button>
        </form>
    </div>
   
    <h3 style="text-align: center; margin-top: 10px;" >OR</h3>
    <!-- Join an Existing Team -->
    <h2>Join a Team</h2>
    <div >
        <form method="POST" action="{% url 'join_team' %}" >
            {% csrf_token %}
            <label for="team_id" class="form-content">Enter Team ID:</label>
            <input type="text" name="team_id" id="team_id" required>
            <button class="btn btn-primary">Join Team</button>
        </form>
    </div>
    

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    </div>
{% endblock %}

</body>
    