body {
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

p {
    text-align: center;
}


/* for problem statements */
.problem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.problem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.problem h3 {
    margin: 15px 0;
    font-size: 20px;
    font-family: 'Garet Heavy', sans-serif;
}

.problem p {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Garet Heavy', sans-serif;
}

.problem img {
    width: 300px; /* Fixed width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Ensures the image fills the space without distortion */
    border-radius: 10px;
}
